/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: #333;
}

/* Utility Classes */

.greenText {
    color: green;
}

.redText {
    color: red;
}

.goldText
{
    color: gold;
}

/* General Styles */

body {
    min-height: 100vh;
    background-color:rgba(30, 185, 164, 0.815);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Header Style */

.Header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: aliceblue;
    padding: 1rem 3rem;
    gap: 10px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #000;
    box-shadow: 0 8px 10px #333;
}

.Header .Header_h1 {
    width: 100%;
    color: #333;
    font-size: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-shadow: 0 5px 10px #333;
}

/* Main Style */

.selectBtn {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px;
    padding-bottom: 12vh;
}

.selectBtn_buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.selectBtn_buttons button {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: hsla(90, 100%, 50%, 0.50);
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.selectBtn_buttons button:hover {
    background-color: hsla(90, 100%, 50%, 0.90);
    border: 2px solid #000;
    box-shadow: 0 8px 10px #333;
    animation: scaleIt 0.9s ease-in forwards;
}

.selectBtn_showData div {
    font-size: 2.5rem;
    gap: 10px;
    padding: 10px;
}

.selectBtn_showData #resultDisplay {
    text-align: center;
}

/* Footer Style */

#Footer {
    width: 100%;
    height: 10vh;
    background-color: #f8d2d2;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.scoreDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px;
}

/* Buttons Animations Applied */

@keyframes scaleIt {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.2);
    }
}